.DS_Store
# ignore setup-mac plugins
dotfiles/.zshrc.d/auth.plugin.zsh
dotfiles/.zshrc.d/aws-doctor.plugin.zsh
dotfiles/.zshrc.d/functions.plugin.zsh
dotfiles/.zshrc.d/git-doctor.plugin.zsh
dotfiles/.zshrc.d/setup.plugin.zsh
dotfiles/.zshrc.d/migrations.plugin.zsh
# created from docker completion command
dotfiles/.zshrc.d/completions/_docker
